image: docker:stable

stages:
  - test
  - build
  - deploy

test:
 image: golang:1.17
 stage: test
 script:
   - go test -race ./...

build:
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" -f build.Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
  only:
    - main
    - develop

deploy:
  stage: deploy
  script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - scp -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no" ./environment/docker-compose.env.yml $DEPLOY_USER@$DEPLOY_HOST:/var/app/$CI_COMMIT_REF_SLUG/docker-compose.yml
    - ssh -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no" $DEPLOY_USER@$DEPLOY_HOST "
      echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin &&
      cd /var/app/$CI_COMMIT_REF_SLUG &&
      docker-compose pull &&
      docker-compose stop app &&
      docker-compose up -d &&
      docker logout $CI_REGISTRY
      "
  only:
    - main
    - develop
