version: "3.0"
services:
  postgres:
    image: postgres:14.2
    restart: on-failure
    volumes:
      - ./database:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_PASSWORD}
      - TZ=Europe/Moscow

  migrate-db:
    image: "registry.gitlab.com/artemgretsov/teletodo:${ENV}"
    restart: on-failure
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_WHITE_LIST=${TELEGRAM_WHITE_LIST}
      - DATABASE_DSN=host=postgres user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_PASSWORD} port=5432 sslmode=disable TimeZone=Europe/Moscow
    depends_on:
      - postgres
    command: go run migrations/migrate.go

  app:
    image: "registry.gitlab.com/artemgretsov/teletodo:${ENV}"
    restart: on-failure
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_WHITE_LIST=${TELEGRAM_WHITE_LIST}
      - DATABASE_DSN=host=postgres user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_PASSWORD} port=5432 sslmode=disable TimeZone=Europe/Moscow
    depends_on:
      - postgres
      - migrate-db
    command: ./app
